<div class="container">
  <h1>Angular Google Maps Explorer</h1>

  <input
    #searchInput
    id="autocomplete"
    type="text"
    (keydown.enter)="onManualSearch()"
    style="
      width: 100%;
      max-width: 600px;
      margin: 10px auto 20px;
      display: block;
      padding: 10px 14px;
      border-radius: 8px;
      border: 1px solid #ccc;
    "
  />

  <google-map
    height="500px"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="onMapClick($event)"
  >
    <map-marker
      *ngIf="markerPosition"
      [position]="markerPosition"
      [options]="markerOptions"
    ></map-marker>

    <map-info-window>{{ infoContent }}</map-info-window>
  </google-map>
</div>
